<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="global.org.minima">

    <!-- Foreground Service allowed -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Camera, Photos, input file -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Network API -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Wake Lock-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- BOOT Message -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Battery Optimisation -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:largeHeap="true"
        android:persistent="true"
        android:icon="@drawable/ic_minima_new"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="global.org.minima.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <!-- ACTIVITIES -->
        <activity android:name=".intro.IntroductionActivity" android:launchMode="singleInstance"  android:configChanges="keyboardHidden|orientation|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".MinimaLogs" android:launchMode="singleInstance"  android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <!-- Intro Activity -->
        <activity android:name=".intro.Introduction2Activity" android:launchMode="singleInstance"  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <!-- SERVICES -->
        <service android:name="com.minima.service.MinimaService" android:enabled="true" android:exported="true"></service>
        <service android:name="com.minima.service.ServiceStarterJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>

        <!-- RECEIVERS -->
        <receiver android:name="com.minima.boot.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.minima.boot.Alarm"></receiver>

    </application>

</manifest>